:host {
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 64px;
  padding: 0 16px;
  margin-bottom: 0px;
  position: relative;
  z-index: 102;
}

h1 {
  display: inline;
  font-size: 38px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 64px;
}

.spacer {
  flex: 1 1 auto;
}
