<app-mngd-header class="mat-elevation-z4"></app-mngd-header>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened >
    <app-mngd-navbar class="mat-elevation-z3"></app-mngd-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>