:host {
  /** max height - header size */
  height: calc(100% - 64px);
}

app-root {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
/* login animation: end */

.container {
  height: 100%;
}
