:host {
  position: relative;
  z-index: 101;
}

.container {
  height: 100%;
  width: 200px;
  background-color: #263238;  
}

.mat-list .mat-list-item {
  color: #FFFFFF;
}

mat-icon {
  margin-right: 10px;
}
